body {
  font-family: "Segoe UI", sans-serif;
  background-color: #fff7f0;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app {
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ff9a9e;
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.box {
  border: 5px solid transparent;
  border-radius: 20px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #fffafc;
  transition: all 0.3s ease;
}

.item-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.item-img,
.item-img-empty {
  width: 240px;
  height: 210px;
  border-radius: 10px;
  border: 3px solid #ccc;
  object-fit: cover;
  padding: 10px;
}

.box.win {
  border-color: #90ee90;
  background-color: #f0fff0;
}

.box.lose {
  border-color: #ff6b6b;
  background-color: #ffeaea;
}

.box.tie {
  border-color: #ccc;
  background-color: #f5f5f5;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 15px 25px;
  font-size: 28px;
  border-radius: 12px;
  border: none;
  background-color: #ffd6e8;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #ffc4de;
  transform: scale(1.05);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.emoji {
  display: inline-block;
  transition: transform 0.2s;
}

button:hover .emoji {
  animation: bounce 0.4s ease-in-out;
}

.lives-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  gap: 12px;
}

.life {
  width: 45px;
  height: 45px;
}

.empty-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #aaa;
  background-color: white;
}

.life-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.score-board {
  font-size: 28px;
  font-weight: bold;
  color: #ff69b4;
  margin-bottom: 10px;
  text-align: center;
}

.game-area {
  position: relative;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: red;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px 100%;
  border-radius: 20px;
  z-index: 10;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.emoji {
  font-size: 32px;
  margin-right: 5px;
}

@media (max-width: 600px) {
  .score-board {
    font-size: 20px;
  }

  button {
    font-size: 18px;
    width: 70px;
  }

  .title {
    font-size: 24px;
  }
}
